# Default Angular browser support
# See: https://angular.dev/tools/cli/build#configuring-browser-compatibility
# And: https://angular.dev/reference/versions#browser-support
last 2 Chrome versions
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
