{
  "*.ts": ["eslint --fix --cache", "oxfmt --no-error-on-unmatched-pattern"],
  "*.html": ["eslint --fix --cache", "oxfmt --no-error-on-unmatched-pattern"],
  "!(*.{ts,html})": ["oxfmt --no-error-on-unmatched-pattern"]
}
