{
  "*.ts": [
    "eslint --fix --cache",
    "prettier --write --cache"
  ],
  "*.html": [
    "eslint --fix --cache",
    "prettier --write --cache"
  ],
  "*.css": [
    "prettier --write --cache"
  ]
}
