{
  "bracketSameLine": true,
  "experimentalTernaries": true,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "none",
  "singleAttributePerLine": true,
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-organize-imports"
  ]
}
