ng-doc-navbar {
  font-family: 'Playwrite IT Moderna', cursive;
  font-optical-sizing: auto;
  background-color: #124045 !important;

  // Logo link
  a {
    color: #fff;
    text-decoration: none;
  }

  // Responsive buttons within the right nav
  ::ng-deep [ng-doc-button-icon] {
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    ng-doc-icon {
      color: #fff;
    }
  }

  .github-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    margin-left: calc(var(--ng-doc-base-gutter) * 2);
    width: calc(var(--ng-doc-base-gutter) * 5);
    height: calc(var(--ng-doc-base-gutter) * 5);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
