<div class="button-row">
  Select demo:
  <button
    [class.active]="currentTab() === 'date-range'"
    (click)="currentTab.set('date-range')">
    Date Range
  </button>
  <button
    [class.active]="currentTab() === 'date-time-inline'"
    (click)="currentTab.set('date-time-inline')">
    DateTime Range (Inline)
  </button>
</div>

<main>
  @switch (currentTab()) {
    @case ('date-range') {
      <label for="daterange"> Datetime range (click, then press 'Set' to modify): </label>

      <input
        [owlDateTime]="date_range_component"
        [owlDateTimeTrigger]="date_range_component"
        [selectMode]="'range'"
        [(ngModel)]="selectedDates"
        id="daterange" />

      <owl-date-time
        #date_range_component
        [endAt]="endValue"
        [startAt]="currentValue"
        (afterPickerClosed)="selectedTrigger($event)"
        (dateSelected)="selectedTrigger($event)">
      </owl-date-time>
    }

    @case ('date-time-inline') {
      <owl-date-time-inline
        [endAt]="endValue"
        [startAt]="currentValue"
        [(ngModel)]="selectedDates"
        pickerType="both"
        selectMode="range">
      </owl-date-time-inline>
    }
  }
</main>
