<ng-doc-root>
  <ng-doc-navbar [glassEffect]="false">
    <a
      ngDocNavbarLeft
      routerLink="/home">
      <h3>DateTimePicker</h3>
    </a>

    <a
      class="github-icon"
      href="https://github.com/NetWin/date-time-picker"
      ngDocNavbarRight
      rel="noopener noreferrer"
      target="_blank">
      <img
        alt="GitHub Repository"
        height="24px"
        src="assets/github-mark-white.png"
        width="24px" />
    </a>
  </ng-doc-navbar>

  <ng-doc-sidebar />

  <router-outlet />
</ng-doc-root>
